/* NAVBAR WRAPPER */
.navbar {
  width: 100%;
  background-color: #53332f; 
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO SECTION */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-item {
  width: 76px;
  height: 76px;
  object-fit: contain; 
}

/* MENU */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.navbar-menu li a:hover {
  opacity: 0.7;
}
